body {
  direction: rtl;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1 {
  margin-right: 15px;
}

.apartment-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  max-width: 400px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper img {
  width: 100%;
  border-radius: 10px;
}

.favorite {
  position: absolute;
  top: 10px;
  left: 10px; 
  cursor: pointer;
  z-index: 10;
  color: black; 
  background-color: white; 
  border: 1px solid black; 
  border-radius: 50%; 
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.carousel-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

/*עיצוב בעמוד דירות שיהיו בשורה*/
#apartments-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 15px;
}


/* --- Swiper קרוסלה --- */
.swiper {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apartment-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition: transform 0.2s;
}

.apartment-card:hover {
  transform: scale(1.02);
}

/*עיצוב לתגית חדש*/

.new-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgb(0, 153, 255);
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 1rem;
  border: 1px solid white; 
  z-index: 10;
}
.image-wrapper {
  position: relative;
}

