
body {
    font-family: "Segoe UI", sans-serif;
    background: white;
    margin: 0;
    padding: 0;
  }

  form {
    max-width: 800px;
    margin: 3rem auto;
    background-color: #e9e9e9;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  form label,
  form fieldset {
    display: block;
    margin-bottom: 1.5rem;
  }

  form b{
    font-size: 17px;
  }

  form input[type="text"],
  form select,
  form textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1rem;
    transition: 0.3s;
  }

  input[type="file"] {
    width: 100%;
    padding: 1rem;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }

  form input:focus,
  form textarea:focus,
  form select:focus {
    border-color: #74b4fd;
    outline: none;
    box-shadow: 0 0 8px rgba(66, 155, 251, 0.5);
  }

  form fieldset {
    border: 1px solid #c6c4c4;
    padding: 1rem;
    border-radius: 10px;
  }

  form legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  form button {
    padding: 1rem 2rem;
    background-color: rgb(157, 217, 239);
    color: black;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }

  form button:hover {
    background-color: rgb(90, 179, 212);
  }

  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.3rem;
    display: none;
  }

  .section-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }