body {
    margin: 0;
    padding: 0;
}

#contentPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* גובה מינימלי כדי שהטופס לא יהיה צמוד מדי לחלק העליון */
    padding: 40px 20px;
    background-color: white;
    /* רקע בהיר */
}

.contact-form {
    background-color: #e9e9e9;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.contact-form h2 {
    color: black;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.contact-form div {
    margin-bottom: 20px;
}

.contact-form textarea {
    width: calc(90% - 20px);
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.3em;
    line-height: 1.6;
    resize: vertical;
    /* אפשרות לשנות גובה */
}

.inputInquiry {
    width: calc(90% - 20px);
    margin: 10px;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.6;
    resize: vertical;
    padding-right: 15px;
}

.contact-form textarea:focus {
    outline: none;
    border-color: #51a4fd;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.contact-form button#btnInquiry {
    background-color: rgb(157, 217, 239);
    color: black;
    border: none;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button#btnInquiry:hover {
    background-color: rgb(90, 179, 212);
}

.contact-form .message.message-error {
    color: red !important;
}
